* {
    margin: 0;
    padding: 0;
}

#titulo {
    color: #380B61;
    margin:center;
} 

#subtitulo {

    color: #380B61;
    margin:center;
} 

fieldset {
    border: 0;
}

body{
    background-color: #0f0f0f;

    font-size: 1em;
    color: #ffffff;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}


input, select, textarea, button {
    background-color: #0f0f0f;
    font-size: 1em;
    color:  #ffffff;;
    border-radius: 0;
}


.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
}
form{
    margin-left: 10%;
    margin-top: 5%;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #2a1e50;
    display: block;
    border-radius: 15px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background:  #0f0f0f;;
}

.botao {
    border-radius: 100px;
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 3em;
    color: #ffffff;
    padding: 0.9em 1.9em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 520pt;
    left: 66%;
    margin-right: -70%;
    transform: translate(0%, -50%)
}

.botao:hover {
    background:  #f8ebeb;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.box {
    width: 550px;
    height: 800px;
    border-radius: 100px;
    background-color: #2a1e50;
    float: left;
    margin-left:-300pt;
    shape-outside: ellipse(100px 100px at 100px 100px);
    shape-margin: 50px;
  }

.img {
    width: 550px;
    height: 400px;
    float: right;
    margin-right:75pt;
    margin-top: 60pt;
    border-radius: 50%;
    shape-outside: circle(50% at 110px 100px);
  }

